@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>
<div class="container" style="min-height:500px">
    <h2>Please navigate to the <i>Teams</i> page using the menu option above...</h2>
    <p>The teams database is a remote SQL Server instance, so you should be able to connect provided you have internet access!</p>
    <p>The Unit Tests also connect to this remote SQL Server instance and will also run without the need for any local database setup.</p>
</div>